@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Scriptina';
    src: url('../fonts/Scriptina/scriptina.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TimesNewRoman';
    src: url('../fonts/TimesNewRoman/TimesNewRomanPSMT.eot');
    src: url('../fonts/TimesNewRoman/TimesNewRomanPSMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TimesNewRoman/TimesNewRomanPSMT.woff') format('woff'),
    url('../fonts/TimesNewRoman/TimesNewRomanPSMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

