button,
button:active,
button:focus{
    outline: none;
}


/*Header*/
.header_menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.header_menu_link{
    font-family: "Alegreya",sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    margin-right: 80px;
}

.header_menu_item{
    position: relative;
    padding-top: 5px;
}

.logo_header{
    font-family: "Scriptina";
    color:  #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.logo_header:hover a{ 
    text-decoration: none;
}

.logo_header a{ 
    color: #fff;
}

.header_menu_item:after{
    content: "~";
    display: block;
    position: absolute;
    top: 5px;
    color: #fff;
    left: -45px;
}

.header_menu_item:first-child:after{
    display: none;
}

.header_menu_link:hover{
    color: #fff;
}

.icon_list{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;   
    padding-top: 5px; 
}

.icon_link{
    color: #efebe4;
    font-size: 18px;
    margin-left: 30px;
}

.icon_link:hover{
    color: white;
}

.header{
    padding: 15px 0 175px 0;
    background: url("../img/header.jpg") no-repeat center top;
	text-align: center;
    height: 900px;
    position: relative;
    border-bottom: 10px solid #fff;
}

.header_border{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    display: flex;
    bottom: -40px;
    left: calc(50% - 100px);
}

.header_border_big{
    border-radius: 50%;
    border-width: 1px;
    border-color:  #e4e2d7;
    border-style: solid;
    background-color:  #9e9c93;
    width: 68px;
    height: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.header_border_big:after{
    content: "";
    display: block;
    background: url(../img/Vektor-border.png)no-repeat center;
    width: 110px;
    height: 110px;
    position: absolute;

}

.header_border_little{
    margin: 0 20px;
    border-radius: 50%;
    border-width: 1px;
    border-color:  #e4e2d7;
    border-style: solid;
    background-color:  #9e9c93;
    width: 28px;
    height: 28px;
}


.header_title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header_head{
    font-family: "PlayfairDisplay",sans-serif;
    color:  #ffffff;
    font-size: 92px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0px 1px 0px #3d3029;
    padding-top: 220px;
    margin-bottom: 45px;
}

.header_line{
    margin-bottom: 65px;
}

.header_text{
    font-family: "ProximaNova", sans-serif;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-shadow: 0px 1px 0px #3d3029;
    width: 50%;
    margin-bottom: 60px;
}

.header_btn{
    border-width: 1px;
    border-color:  #9e9c93;
    border-style: dashed;
    background-color:  rgba(86, 83, 76, 0.53);
    padding: 10px 50px;
    font-family: "Alegreya",sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 130px;
}

.header_btn:hover{
    text-decoration: none;
    color: #fff;
}


/*art*/
.art{
    padding: 100px 0 120px 0;
    background: url("../img/img texture (1).jpg");
	text-align: center;
}

.art_description_head{
    font-family: "Alegreya",sans-serif;
    color:  #56534c;
    font-size: 48px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.art_description_head-text{
    font-family: "Alegreya",sans-serif;
    color:  #a47d5e;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 70px;
}



.art_description_text{
    font-family: "ProximaNova", sans-serif;
    color:  #56534c;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 45px;
}

.chef_about_name{
    font-family: "Alegreya",sans-serif;
    color:  #56534c;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    height: 58px;
    width: 111px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 1px solid #d7d5ca;
    border-bottom: 1px solid #d7d5ca;
    padding: 21px 0;
}

.chef_about{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 40px;
}

.chef_head{
    font-family: "Alegreya", sans-serif;
    color:  #56534c;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-bottom: 44px;
}

.chef_about_img{
    border-radius: 50%;
    background-color:  #ffffff;
    width: 110px;
    height: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 19px;;
}

.chef_about_img img{
    width: 100px;
    height: 100px;
}

.chef_about_text{
    font-family: "Scriptina";
    color:  #a47d5e;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    position: relative;
    width: 236px;
}

.chef_block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.chef_about_text:before , .chef_about_text::after{
    position: absolute;
    display: block;
    color:rgba(86, 83, 76, 0.5);
    font-size: 60px;
    font-family: 'TimesNewRoman', serif;
    letter-spacing: -1.5px;
    line-height: 30px;
    text-align: center;
}

.chef_about_text:before{
    content: '“';
    left: -40px;
    top: -15px;
}

.chef_about_text:after{
    content: '”';
    right: -35px;
    bottom: -40px;
}

.art_img_wrap{
    height: 250px;
    width: 46%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 20px 20px 0;
    position: relative;
}

.art_img_wrap:after{
    position: absolute;
    content: "";
    display: block;
    height: 95%;
    width: 95%;
    z-index: 2;
    border: 5px solid #ffffff;
}

.art_img-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
}

.art-vector{
    position: absolute;
    top: 132px;
    left: 119px;
    z-index: 10;
}

.art-vector_img{
    position: relative;
}

.art-vector_text{
    position: absolute;
    top: 94px;
    left: 71px;
    color: #c9b176;
    font-family: "Alegreya",sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
    width: 145px;    
    z-index: 11;
}

/*favourite*/
.favourite{
    background: url(../img/tasty.jpg) no-repeat center top;
    padding: 140px 0 105px 0;
    
}

.ready{
    background: url(../img/bg-ready.png) no-repeat center top;
    position: absolute;
    width: 200px;
    height: 200px;
    right: -125px;
    top: -40px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-shadow: 9px 10px 43px 6px rgba(0, 0, 0, 0.4);
            box-shadow: 9px 10px 43px 6px rgba(0, 0, 0, 0.4);
}

.food{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 900px;
}

.food_img{
    width: 50%;
    overflow: hidden;
}


.food_content{
    position: relative;
    background: url(../img/windmill.png)#fff no-repeat right bottom ;
    width: 60%;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 68px 30px 0;
    -webkit-transition: width 1s;
    transition: width 1s;
}

.food_content.clicked{
    width: 100%;
}

.food_head{
    font-family: "Alegreya",sans-serif;
    color:  #56534c;
    font-size: 48px;
    font-weight: 700;
    line-height: 30px;

}

.food_head_text{
    padding: 10px 0 40px 0;
    font-family: "Alegreya",sans-serif;
    color:  #a47d5e;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.ready{
    font-family: "Alegreya", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.ready_text{
    color:  #a47d5e;
    text-transform: uppercase;
}

.ready_time{
    color:  #dfc691;
    font-size: 92px;
}

.ready_min{
    color:  #979285;
    font-size: 18px;
    text-align: center;
}

.food_btn{
    position: absolute;
    height: 50px;
    width: 50px;
    left: -25px;
    top: 225px;
    background: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.food_img{
    position:relative;
    border-radius: 0px 0px 0px 40px; 
}

.food_img:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35px;
    height: 35px;
    border-radius: 0 5px 0 0;
    background: #ccc;
    background: linear-gradient(45deg, #fff 0, #eee 50%, #ccc 100%);
 
    -webkit-box-shadow: rgba(0,0,0,0.05) -1px 1px 1px, inset white 0 0 1px;
    box-shadow: rgba(0,0,0,0.05) -1px 1px 1px, inset white 0 0 1px;
 
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
 }


/*breakfast*/

.breakfast{
    background: url(../img/breakfast.jpg) no-repeat center top;
    padding: 90px 0 30px 0; 
    position: relative;
    -webkit-box-shadow: 0px 8px 21px rgba(0,0,0,0.2);
            box-shadow: 0px 8px 21px rgba(0,0,0,0.2);
}

.breakfast:after{
    content: "";
    display: block;
    position: absolute;
    background: url(../img/breakfast_bg.png);
    bottom: 0;
    right: 0px;
    z-index: 99;
    height: 200px;
    width: 200px;

}

.breakfast_left{
    font-family: "Alegreya",sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
}

.breakfast_head{
    color:  #ffffff;
    font-size: 60px;
    font-weight: 700;
    line-height: 30px;
}

.breakfast_head-text{
    color:  #c8a693;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.breakfast_item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
}

.breakfast_title{
    color:  #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.breakfast_description{
    font-family: "ProximaNova";
    color:  #c2beba;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.breakfast_price{
    color:  #dfc791;
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
}

.breakfast_right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.list_pages{
    position: relative;
}

.page_item{
    position: absolute;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 440px;
    height: 600px;
    background-color: #f3f1e9;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.page_item.one{
    z-index: 3;
    border-radius: 0 0 0 30px;
    overflow: hidden;
    -webkit-box-shadow: 26px 14px 33px rgba(0,0,0,0.2);
            box-shadow: 26px 14px 33px rgba(0,0,0,0.2);
}

.page_item.one:before {
    content: "";
    z-index: 5;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35px;
    height: 35px;
    border-radius: 0 5px 0 0;
    background: #ccc;
    background: linear-gradient(45deg, #fff 0, #eee 50%, #ccc 100%);
    -webkit-box-shadow: rgba(0,0,0,0.05) -1px 1px 1px, inset white 0 0 1px;
    box-shadow: rgba(0,0,0,0.05) -1px 1px 1px, inset white 0 0 1px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.page_item.two{
    position: absolute;
    right: -16px;
    top: 23px;
    height: 90%;
    z-index: 2;
}

.page_item.three{
    position: absolute;
    right: -32px;
    top: 46px;
    height: 80%;
    z-index: 1;
}


.page_border{
    width: 95%;
    height: 95%;
    background-color: rgba(0, 0, 0, 0.0);
    position: absolute;
    border-width: 1px;
    border-color:  #9e9c93;
    border-style: dashed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 30px;
}

.page_border_year{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.page_border_year span{
    color: #56534c;
    font-family: "Alegreya",sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 50px;
}
.page_border_img{
    position: absolute;
    top: 84px;
    left: calc(50% - 20px);

}


.page_item_head{
    font-family: "Alegreya",sans-serif;
    color:  #56534c;
    font-size: 44px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 60px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.page_item_text{
    font-family: "ProximaNova",sans-serif;
    color:  #56534c;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 30px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.page_item_btn{
    font-family: "Alegreya", sans-serif;
    color:  #a47d5e;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 30px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-transform: uppercase;
    border-width: 1px;
    border-color:  #9e9c93;
    border-style: solid;
    padding: 10px 70px;
}

.page_item_btn:hover{
    color:#a47d5e;
}

/*sandwitch*/

.sandwich{
    background: #f3f1e9;
    max-width: 1605px;
    padding: 100px 0
}

.sandwitch_ingredients_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
}

.sandwitch_ingredients_item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
}

.sandwitch_ingredients_img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.sandwich_header{
    font-family: "Alegreya", sans-serif;
    color:  #56534c;
    font-size: 48px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    position: relative;
}

.sandwich_header::after{
    content: "";
    display: block;
    background: url(../img/sandwich_head.png) no-repeat center top;
    height: 124px;
    width: 148px;
    top: -74px;
    margin: 0 auto;
    margin: -114px auto 0;

}

.sandwich_header-text{
    font-family: "Alegreya", sans-serif;
    color:  #a47d5e;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}

.sandwich_block-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.sandwich_img{
    width: 100%;
    height: 540px;
    border: 10px solid #fff;
    position: relative;
    background: url(../img/sandwich_ing.jpg) no-repeat;
    background-size: cover;
    -webkit-box-shadow: 5px 3px 21px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 5px 3px 21px 4px rgba(0, 0, 0, 0.4);
}



.img_block img{
    display: block;
    width: 100%;
}

.time_blocks{
    position: absolute;
    right: 0;
    top: -40px;
    -webkit-box-shadow: 2px 5px 15px rgba(1,1,1,0.5);
            box-shadow: 2px 5px 15px rgba(1,1,1,0.5);
}

.time_block{
    margin-bottom: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 200px;
    height: 200px;
    background:rgba(255, 255, 255, 0.8);
}

.time_block:last-child{
    background:rgba(255, 255, 255, 1);
    background: url(../img/bg-ready.png) #fff no-repeat center top;
}

.time_block:last-child .time_cook{
    color:  #dfc691;
    font-size: 92px;
}

.stage_text{
    font-family: "Alegreya",sans-serif;
    color:  #a47d5e;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 30px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-transform: uppercase;
}

.time_cook{
    font-family: "Alegreya",sans-serif;
    color:  #56534c;
    font-size: 60px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 30px;/* Приближение из-за подстановки шрифтов */
    text-align: center;

}

.time_min{
    font-family: "Alegreya",sans-serif;
    color:  #979285;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 30px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.full_recipe{
    font-family: "Alegreya";
    border-width: 1px;
    border-color:  #dfc691;
    border-style: dashed;
    background-color:  #ffffff;
    color:  #dfc691;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 30px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    padding: 10px 20px;
    position: relative;
    top: 510px;
    left: -25px;
    text-transform: uppercase;
}

.full_recipe:hover{
    text-decoration: none;
    color: #dfc691;
}

/*footer*/

.footer{
    background: #f3f1e9;
    max-width: 1605px;
    padding-bottom: 50px; 
}

.footer_menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer_menu_link{
    font-family: "Alegreya",sans-serif;
    color:  #56534c;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    margin-right: 80px;
}

.footer_menu_item:last-child .footer_menu_link{
    margin-right: 0;
}

.footer_menu_item{
    position: relative;
}

.footer_menu_item:after{
    content: "~";
    display: block;
    position: absolute;
    top: 0px;
    color: #56534c;
    left: -45px;
}

.footer_menu_item:first-child:after{
    display: none;
}

.footer_menu_link:hover{
    color:#56534c;
}

.logo_footer{
    font-family: "Scriptina";
    color:  #56534c;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.logo_footer:hover a{ 
    text-decoration: none;
}

.logo_footer a{ 
    color: #56534c;
}

.logo_footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/*slider*/

.slick-dots li.slick-active button {
    background-color: rgba(1, 1, 1, 0.5);
}

.slick-dots li button {
    background-color: rgba(1, 1, 1, 0.2);
}

.slick-dots{
    padding: 20px 0 0 0;
}

.food_slide{
    padding-top: 20px;
}

.food_slide_avatar {
    background:rgba(0, 0, 0, 0.1);
    height: 100px;
    width: 100px !important;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.food_slide_avatar img {
    margin: 0px 0px 0px -9px;
}

.slick-initialized .slick-slide {
    display: block;
    padding: 10px;
}

.slick-prev, .slick-next{
    border: 2px solid #d8bba3;
    color: #d8bba3;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.slick-prev, .slick-next i{
    color: #d8bba3;
    font-size: 15px;
}

.slick-prev:hover, .slick-next:hover i{
    color:black;
}

.slick-prev:hover, .slick-next:hover{
    border: 2px solid black;
    
}

.slick-prev:before, .slick-next:before{
    display: none;
}




/*stars*/

.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 1rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #56534c;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	color: #FFB300;
}

.star-rating.white .star-rating__wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    
}

.star-rating.white{
    position: absolute;
    top: 200px;
    left: 20px;
}

.star-rating.white .star-rating__wrap .star-rating__ico {
    padding-left: 0;

}

.star-rating.white .star-rating__wrap .star-rating__ico:hover:before,
.star-rating.white .star-rating__wrap .star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating.white .star-rating__wrap .star-rating__input:checked ~ .star-rating__ico:before
{
	color: white;
}